/* universal and shared styles */

html {
  font-size: 18px;
}

body {
  background-color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

.mainContainer, .productContainer, .contactContainer {
  margin: auto;
  width: 960px;
}

.logoContainer, .headingContainer, .ImgContainer h4, .contactItem h4, .footerContainer {
  background-color: black;
}

.headingContainer h2, .headingContainer h1 {
  font-weight: bold;
}

.logoContainer h3, .headingContainer h2, .headingContainer h1, nav a, .ImgContainer h4, .contactItem h4, footer h5 {
  color: white;
}

/* flexbox styles */

.navContainer, .productContainer, .contactContainer {
  display: flex;
  align-items: center;
}

.navContainer  {
  justify-content: space-around;
}

.productContainer, .contactContainer {
  justify-content: space-between;
}

/* header styles */

.logoContainer img {
  height: 1.5rem;
  margin: 0rem 0.5rem;
}

.logoContainer h3 {
  display: inline-block;
  margin: 0.66rem 0.5rem;
}

.bannerContainer {
  background-image: url("../images_gh/moto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.headingContainer {
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  left: 9rem;
  width: 20rem;
}

.headingContainer h2 {
  margin-bottom: 0.25rem;
}

.headingContainer h1 {
  font-size: 2rem;
}

.navContainer {
  background-color: firebrick;
}

.menuNavItem {
  display: none;
}

nav span {
  margin-top:0.75rem;
  margin-bottom: 0.75rem;
}

nav a {
  text-decoration: none;
}

/* product section styles */

.productContainer {
  margin: 3rem auto;
}

.ImgContainer {
  border: 4px solid black;
  width: 30%;
}

.ImgContainer img {
  display: block;
  height: 9rem;
  margin: 2rem auto;
  width: 50%;
}

.ImgContainer h4 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

/* contact section styles */

.contactContainer {
  margin-bottom: 4rem;
}

.contactItem {
  width: 35%;
}

.contactItem h4 {
  padding: 1rem 2rem;
}

/* footer styles */

.footerContainer {
  height: 5rem;
  padding-left: 9rem;
}

footer h5 {
  position: relative;
  top: 2rem;
}

/* media query styles */

@media only screen and (max-width: 1024px) {
  .mainContainer, .productContainer, .contactContainer {
    margin: auto;
    width: 100%;
  }

  .headingContainer {
    position: relative;
    left: 0rem;
  }

  .navItem a {
    display: none;
  }

  .menuNavItem {
    display: block;
  }

  .mainContainer {
    padding: 5% 0;
  }

  .productContainer div:last-child {
    display: none;
  }

  .ImgContainer {
    width: 47%;
  }

  .contactContainer {
    margin: 5% 0;
  }

  .contactItem {
    width: 35%;
  }

  .footerContainer {
    padding-left: 0rem;
  }
}

@media only screen and (max-width: 470px) {
  .bannerContainer {
    height: 15rem;
  }

  .headingContainer {
    padding: 1rem 2rem;
    position: relative;
    top: 10rem;
    left: 0rem;
    width: 100%;
  }

  .headingContainer h2 {
    font-size: 0.77rem;
  }

  .headingContainer h1 {
    font-size: 1rem;
  }

  .mainContainer, .productContainer, .contactContainer {
    margin: auto;
    width: 100%;
  }

  .mainContainer {
    padding: 10% 0;
  }

  .productContainer div:nth-child(n+2) {
    display: none;
  }

  .productContainer {
    justify-content: center;
  }

  .contactContainer {
    flex-direction: column;
  }

  .productItem, .contactItem {
    width: 90%;
  }

  .contactItem {
    margin: 0.5rem;
  }

  footer h5 {
    text-align: center;
  }
}
